<a href="{{ url('ad_index') }}">Ads</a>
<a href="{{ url('category_index') }}">Categories</a>
<a href="{{ url('message_index') }}">Messages</a>
<a href="{{ url('payment_index') }}">Payments</a>
<a href="{{ url('tag_index') }}">Tags</a>
<a href="{{ url('user_index') }}">Users</a>