{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ad list</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ad in ads %}
                <tr>
                    <td><a href="{{ path('ad_show', { 'id': ad.id }) }}">{{ ad }}</a></td>
                    <td>{% if ad.adType %}Offer{% else %}Demand{% endif %}</td>
                    <td><a href="{{ path('ad_show', { 'id': ad.id }) }}">{{ ad.user }}</a></td>
                    <td>
                        <a href="{{ path('ad_show', { 'id': ad.id }) }}">Detail</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ad_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
