{% extends 'base.html.twig' %}

{% block body %}
    <h1>My mailbox</h1>
    <a href="{{ path('message_new') }}">New message</a>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Read</th>
                <th>Title</th>
                <th>Sent by</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messagesReceived %}
                <tr>
                    <td>{% if message.read==false %}NO{% endif %}</td>
                    <td><a href="{{ path('message_show', { 'id': message.id }) }}">{{ message.title }}</a></td>
                    <td>{{ message.userEmitter }}</td>
                    <td>{{ message.createDatetime | date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
    <h1>Sent messages</h1>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Read</th>
                <th>Title</th>
                <th>Sent to</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messagesSent %}
                <tr>
                    <td>{% if message.read==false %}NO{% endif %}</td>
                    <td><a href="{{ path('message_show', { 'id': message.id }) }}">{{ message.title }}</a></td>
                    <td>{{ message.userReceiver }}</td>
                    <td>{{ message.createDatetime | date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
