{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message detail</h1>

    <div>
        <label>Subject:</label> {{ message.title }}
        <br>
        <br>
        <label>From:</label> {{ message.userEmitter }}
        <label>to:</label> {{ message.userReceiver }}
        <label>on:</label> {{ message.createDatetime | date }}
        <br>
        <br>
        {{ message.content }}
        <br>
        <br>
    </div>
{% endblock %}
